body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#room {
    width: 80%;
    height: 80vh;
    margin: 20px auto;
    border: 2px solid #ccc;
    position: relative;
    background-color: #fff;
}

.furniture {
    position: absolute;
    cursor: grab;
}

#furniture1 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    top: 100px;
    left: 100px;
}

#furniture2 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    top: 50px;
    left: 200px;
}

#furniture3 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    top: 50px;
    left: 350px;
}


